<template>
<div id="app">
  <v-app>

    <v-toolbar
      color="blue-grey"
      dark
      fixed
      app
      clipped-right
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <router-link class="toolbar-logo" tag="v-toolbar-title" to="/">
        Pjodd
      </router-link>
      <v-spacer></v-spacer>
			<v-text-field
        v-show="false"
        class="mx-3 mt-2"
        flat
        label="Search nodes"
        prepend-inner-icon="search"
        solo-inverted
        v-model="search"
        v-on:keyup="updateSearch"
        clearable
      ></v-text-field>

      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on" color="lime lighten-2" @click.stop="refreshNodes">
            <v-icon color="indigo darken-2">refresh</v-icon>
          </v-btn>
        </template>
        <span>Refresh nodes</span>
      </v-tooltip>

    </v-toolbar>

    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <v-list-tile @click.stop="drawer = !drawer">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Close drawer</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile to="/">
          <v-list-tile-action>
            <v-icon>list</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Nodes</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile to="/map">
          <v-list-tile-action>
            <v-icon>map</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Map</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.stop="syncNodes">
          <v-list-tile-action>
            <v-icon :class="{ 'spinning-loader': syncStatus == 'loading' }">sync</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Sync nodes</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-snackbar 
      top
      multi-line
      v-if="syncStatus == 'success'" 
      v-model="syncSnackbar">
        <v-icon icon="info"></v-icon>
        Nodes created:{{syncData.created_nodes.length}}, 
        updated:{{syncData.updated_nodes.length}}, 
        error:{{syncData.failed_nodes.length}} /{{syncData.total_nodes.length}}

        <v-btn dark flat @click="syncSnackbar = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer color="lime lighten-2" class="pl-2 pr-2" app>
      <span>Pjodd</span>
      <v-spacer></v-spacer>
      <span>&copy; 2017</span>
    </v-footer>

  </v-app>
</div>
</template>

<script>
import {mapState} from 'vuex'

import {
  NODE_REQUEST,
  NODE_SYNC,
} from './store/actions/node'

import {
  SEARCH_SET,
} from './store/actions/search'

export default {
  name: 'app',

  data: () => ({
		drawer: false,
    search: '',
    syncSnackbar: false,
    syncData: undefined
  }),

  computed: {
    ...mapState({
      refreshStatus: state => state.node.requestStatus,
      syncStatus: state => state.node.syncStatus,
      syncError: state => state.node.syncError,
    })
  },

  methods: {
    refreshNodes() {
      this.$store.dispatch(NODE_REQUEST)
    },

    syncNodes() {
      this.$store.dispatch(NODE_SYNC).then((resp) => {
        console.log(resp.data)
        this.syncData = resp.data
        this.syncSnackbar = true
        this.refreshNodes()
      }).catch((error) => {
        console.log(error)
        this.syncSnackbar = true
      })
    },

    updateSearch(event) {
      this.$store.commit(SEARCH_SET, this.search)
    },
  },

}
</script>

<style lang="scss" scoped>
.toolbar-logo {
  text-decoration:none;
}
</style>
