<template>
  <v-container fluid fill-height grid-list-md>
    <v-layout justify-center>
      <v-flex>

        <h2 class="display-3 mb-4">
          Node map
        </h2>

        <div v-show="requestStatus == 'loading'" class="text-xs-center">
          <v-progress-circular
          indeterminate
          color="primary"></v-progress-circular>
        </div>

        <node-map v-show="requestStatus == 'success'"
        class="nodes-map"
        :items="nodes"></node-map>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'
import leaflet from 'leaflet'

import NodeMap from '../components/NodeMap.vue'

import {
  NODE_REQUEST,
} from '../store/actions/node'

export default {
  name: 'Map',

  components: {
    NodeMap
  },

  computed: {
    ...mapState({
      nodes: state => state.node.nodes,
      requestStatus: state => state.node.requestStatus,
      requestError: state => state.node.requestError,
    }),
  },

  mounted() {
    var p = this.$store.dispatch(NODE_REQUEST)
  },
}
</script>

