<template>
  <v-container fluid fill-height grid-list-md>
    <v-layout justify-center>
      <v-flex shrink>

        <h2 class="display-3 mb-4">
          List of nodes

          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn
                small
                dark
                color="primary"
                v-on="on"
                @click.stop="addNodeDialog = !addNodeDialog"
                :disabled="!!addNodeDialog"
              >
                <v-icon>add</v-icon>
              </v-btn>
            </template>
            <span>Add node</span>
          </v-tooltip>
        </h2>

        <div 
          v-show="requestStatus == 'loading'"
          class="text-xs-center">
          <v-progress-circular
          indeterminate
          color="primary"></v-progress-circular>
        </div>

        <div v-show="requestStatus == 'success'">
          <node-list 
          :items="nodes" 
          :search="search"
          v-on:refresh-nodes="refreshNodes"
          v-on:clicked-card="openDialog"></node-list>
        </div>

        <node-form-card
        v-on:close-dialog="closeDialog"
        :cardDialog="cardDialog"
        :title="`Edit node ${currentItem.node_id}`"
        :item="currentItem"></node-form-card>

        <v-dialog v-model="addNodeDialog" 
        origin="center right" max-width="290" top>
          <v-card>
            <v-card-title>Add node</v-card-title>
            <v-card-text>

              <v-text-field v-model="nodeId" label="Unique Node ID" required></v-text-field>

            </v-card-text>

            <v-card-actions>
              <v-btn color="blue darken-1" flat @click="addNodeDialog = false">Close</v-btn>
              <v-btn 
              color="primary"
              :loading="requestStatus == 'loading'"
              :disabled="requestStatus == 'loading'"
              @click="createNode">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-snackbar
          bottom
          v-show="requestStatus == 'error'"
          :timeout="6000"
        >
          {{ requestError }}
        </v-snackbar>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'

import {
  NODE_CREATE,
  NODE_REQUEST,
} from '../store/actions/node'

import NodeList from '../components/NodeList.vue'
import NodeFormCard from '../components/NodeFormCard.vue'

export default {
	name: 'Nodes',

  components: {
    NodeFormCard,
    NodeList,
  },

  props: {
    search: String
  },

	data: () => ({
    addNodeDialog: false,
    nodeId: '',
    cardDialog: false,
    currentItem: {
      nodeinfo: {},
    },
    currentIndex: 0
	}),

	computed: {
		...mapState({
			createStatus: state => state.node.createStatus,
			createError: state => state.node.createError,

			requestStatus: state => state.node.requestStatus,
			requestError: state => state.node.requestError,

      nodes: state => {
        return state.node.nodes.map((c) => {
          if (!('flags' in c))
            c.flags = {online: false}

          if (!('nodeinfo' in c)) {
            c.nodeinfo = {
              description: ''
            }
          }

          if (!('statistics' in c))
            c.statistics = {}

          return c
        })
      },

      nodesLoading: state => true ? state.node.requestStatus == 'loading' : false,

      currentNode(state) {
        if (!!state.node.nodes.length)
          return false
        return state.node.nodes[this.currentIndex]
      },

    }),

    filteredNodes() {
      return this.nodes.filter((i) => {
        //console.log(this.search)
        let nodeinfo = i.nodeinfo
        //console.log(nodeinfo)
        //console.log(i.node_id)
        return !this.search || (i.node_id == this.search || nodeinfo.description == this.search)
      })
    },

	},

  methods: {
    setItem(item) {
      self.currentItem = item
    },

    openDialog(nodeId) {
      this.currentItem = this.$store.getters.getNodeById(nodeId)
      this.cardDialog = true
    },

    closeDialog(item) {
      this.cardDialog = false
    },

    refreshNodes() {
      return this.$store.dispatch(NODE_REQUEST)
    },

    createNode(event) {
      //console.log(event.target)
      var p = this.$store.dispatch(NODE_CREATE, {nodeId: this.nodeId, nodeData: {}})
      p.then((resp) => {
        //console.log(resp)
        this.addNodeDialog = false
        this.refreshNodes()
      })
    },

  },

	created() {
    var p = this.refreshNodes()
    p.then((resp) => {
      //console.log(this.nodes)
      self.currentItem = this.nodes[0]
    })
	},
}
</script>
