<template>
  <v-data-iterator
  :items="items"
  item-key="node_id"
  :rows-per-page-items="rowsPerPageItems"
  :pagination.sync="pagination"
  :search="search"
  :filter="customFilter"
  content-tag="v-layout"
  no-results-text="No nodes found"
  no-data-text="No nodes found"
  row
  must-sort
  wrap>
    <template v-slot:item="props">
      <node-card v-on:clicked-card="$emit('clicked-card', props.item.node_id)"
        v-on:refresh-nodes="$emit('refresh-nodes')"
        :props="props"
        :deleting="deleting"></node-card>

    </template>
  </v-data-iterator>
    
</template>

<script>
import {mapState} from 'vuex'

import NodeCard from './NodeCard.vue'

export default {
	name: 'NodeList',

  components: {
    NodeCard
  },

  data() {
    return {
      rowsPerPageItems: [4, 8, 12, 16, 20],
      pagination: {
        rowsPerPage: 4,
        sortBy: 'node_id',
        descending: false
      },
      updateNodeDialog: false,
      cardDialog: false,
      currentItem: false
    }
  },

  props: {
    items: Array,
  },

	computed: {
		...mapState({
			deleteStatus: state => state.node.deleteStatus,
      deleteError: state => state.node.deleteError,
      deleting: state => state.node.deleteStatus == 'loading' ? true : false,
      search: state => state.search.search,
    }),

  },

  methods: {
    customFilter(val, search) {
      //console.log(val)
      //console.log(search)
    },
  },

}
</script>

<style lang="scss" scoped>
.node-list-tile {
  border-top: 1px solid #000;
}

th {
  text-align:left;
  padding-right:15px;
  border-right:1px solid #000;
}
</style>
