<template>
<div id="node-map">
  <div id="nodesMap" class="nodes-map"></div>
</div>
</template>

<script>
import config from '../config'
import leaflet from 'leaflet'

export default {
  name: 'NodeMap',

  props: {
    items: Array,
    selectMode: Boolean,
    zoomLevel: {
      type: String,
      default() {
        return '13'
      }
    }
  },

  mounted() {
    var startingLatlng = [55.5938, 13.0068]
    var maxBounds = leaflet.latLngBounds(
      leaflet.latLng(58.107, 8.020),
      leaflet.latLng(53.950, 19.644)
    )

    if (this.selectMode && 'latitude' in this.items[0] && 'longitude' in this.items[0])
      startingLatlng = [this.items[0].latitude, this.items[0].longitude]

    var mymap = leaflet.map('nodesMap').setView(startingLatlng, this.zoomLevel)
    leaflet.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      maxBounds: maxBounds,
      id: 'mapbox.streets',
      accessToken: config.mapboxAccessToken
    }).addTo(mymap)

    if (this.selectMode) {
      var popup = leaflet.popup()
      var nodeId = this.items[0].node_id
      var nodeData = this.items[0]

      if (nodeData) {
        if ('latitude' in nodeData && 'longitude' in nodeData) {
          let latlng = {
            lat: nodeData.latitude,
            lng: nodeData.longitude
          }
          //console.log(latlng)
          popup.setLatLng(latlng).setContent(nodeId).openOn(mymap)
        }
      }

      mymap.on('click', (event) => {
        popup.setLatLng(event.latlng).setContent(nodeId).openOn(mymap)
        this.$emit('click-map', event.latlng)
      })
    } else {
      // Loop through items and place on map
      this.items.map((c) => {
        if ('latitude' in c && 'longitude' in c) {
          var circle = leaflet.circle([c.latitude, c.longitude], {
            color: 'blue',
            fillColor: '#14a7fc',
            fillOpacity: 0.5,
            radius: 45
          }).addTo(mymap);
          circle.bindPopup(`${c.node_id}: ${c.nodeinfo.description}`)
        }
      })
    }

  },
}
</script>

<style lang="scss" scoped>
@import "~leaflet/dist/leaflet.css";
</style>
