<template>
<v-flex
xs12
sm6
md4
lg3>
  <v-hover>
    <v-card @click.stop="$emit('clicked-card')"
      :class="`elevation-${hover ? 12 : 2}`"
      slot-scope="{ hover }"
      class="mx-auto">
      <v-card-title><h4>

        {{props.item.node_id}}

        <template v-if="props.item.flags">
          <v-chip 
          small
          color="success"
          v-show="props.item.flags.online">
            online
            <v-icon>check_circle</v-icon>
          </v-chip>
        </template>

        <template v-if="props.item.flags">
          <v-chip outline small
          color="error"
          v-show="!props.item.flags.online">
            offline
            <v-icon>remove_circle</v-icon>
          </v-chip>
        </template>

      </h4></v-card-title>

      <v-divider></v-divider>

      <v-list dense>

        <v-list-tile v-if="props.item.nodeinfo">
          <v-list-tile-content>Description</v-list-tile-content>
          <v-list-tile-content class="align-end">{{props.item.nodeinfo.description}}</v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-if="props.item.flags">
          <v-list-tile-content>Online</v-list-tile-content>
          <v-list-tile-content class="align-end">{{props.item.flags.online ? 'yes' : 'no'}}</v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-if="props.item.flags">
          <v-list-tile-content>Uplink</v-list-tile-content>
          <v-list-tile-content class="align-end">{{props.item.flags.uplink ? 'yes' : 'no'}}</v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-if="props.item.statistics">
          <v-list-tile-content>Uptime</v-list-tile-content>
          <v-list-tile-content class="align-end">{{props.item.statistics.uptime|formatDuration}} days</v-list-tile-content>
        </v-list-tile>

        <template v-if="props.item.latitude || props.item.longitude">
          <v-list-tile>
            <v-list-tile-content>Latitude</v-list-tile-content>
            <v-list-tile-content class="align-end">{{props.item.latitude}}</v-list-tile-content>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-content>Longitude</v-list-tile-content>
            <v-list-tile-content class="align-end">{{props.item.longitude}}</v-list-tile-content>
          </v-list-tile>

        </template>

        <v-list-tile>
          <v-list-tile-content>
            <v-btn @click.stop="deleteNode(props.item.node_id)"
            block
            :loading="deleting"
            :disabled="deleting"
            color="error">
              <v-icon>delete</v-icon>
              Delete
              <template v-slot:deleting>
                <span class="spinning-loader">
                  <v-icon light>sync</v-icon>
                </span>
              </template>
            </v-btn>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>

    </v-card>
  </v-hover>
</v-flex>
</template>

<script>
import {mapState} from 'vuex'

import {
  NODE_DELETE
} from '../store/actions/node'

export default {
  name: 'NodeCard',

  props: {
    props: Object,
    deleting: Boolean
  },

  computed: {
    ...mapState({
      requestStatus: state => state.node.requestStatus
    })
  },

  methods: {
    deleteNode(node_id) {
      this.$store.dispatch(NODE_DELETE, node_id).then((resp) => {
        this.$emit('refresh-nodes')
      })
    },
  },

}
</script>

