<template>
  <v-dialog scrollable
  v-model="intCardDialog"
  origin="center right" max-width="720" top>

    <v-card>
      <v-card-title
      class="headline grey lighten-2"
      primary-title>
        {{title}}
      </v-card-title>

      <v-card-text height="720px">
        <v-container grid-list-md>
          <v-layout wrap>

            <v-flex xs12 sm6 md6>
              <v-text-field v-model="item.node_id" label="Unique Node ID" required></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md6>
              <v-text-field v-model="item.nodeinfo.description" label="Node description" required></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md6>
              <v-text-field v-model="item.latitude" label="Latitude"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md6>
              <v-text-field v-model="item.longitude" label="Longitude"></v-text-field>
            </v-flex>

          </v-layout>

          <h3>Select node location</h3>
          <v-divider></v-divider>
          <node-map 
          select-mode
          class="nodes-map"
          v-on:click-map="setNewCoordinates"
          zoom-level="15"
          :items="[item]"></node-map>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="blue darken-1" flat @click.stop="$emit('close-dialog')">Close</v-btn>
        <v-btn 
        color="primary"
        :loading="updateStatus == 'loading'"
        :disabled="updateStatus == 'loading'"
        @click="updateNode">Save</v-btn>
      </v-card-actions>

      <v-snackbar
        top
        v-show="updateStatus != 'loading'"
        v-model="updateSnackbar"
        :color="updateStatus == 'success' ? 'success' : 'error'"
      >
        <span v-if="updateStatus == 'error'">
          <v-icon>error</v-icon>
          Failed: {{ updateError }}
        </span>
        <span v-else>
          <v-icon>done</v-icon>
          Saved: {{ updateStatus }}
        </span>
      </v-snackbar>

    </v-card>

  </v-dialog>
</template>

<script>
import {mapState} from 'vuex'

import {
  NODE_UPDATE,
  NODE_SET_LATLNG,
} from '../store/actions/node'
import NodeMap from '../components/NodeMap.vue'

export default {
  name: 'NodeFormCard',
  components: {
    NodeMap
  },
  props: {
    item: Object,
    title: {
      type: String,
      default() {
        return 'Form'
      }
    },
    cardDialog: Boolean
  },

  data() {
    return {
      updateSnackbar: false
    }
  },

  computed: {
    ...mapState({
      updateStatus: state => state.node.updateStatus,
      updateError: state => state.node.updateError
    }),

    intCardDialog: {
      get: function() {
        if (this.cardDialog)
          this.$emit('node', this.item)

        return this.cardDialog
      },

      set: function(value) {
        if (!value) {
          this.$emit('close-dialog')
        }
      }
    },
  },

  methods: {
    updateNode() {
      var p = this.$store.dispatch(NODE_UPDATE, {
        nodeId: this.item.node_id,
        nodeData: this.item
      })
      p.then((resp) => {
        this.updateSnackbar = true
      }).catch((error) => {
        this.updateSnackbar = true
      })
    },

    setNewCoordinates(latlng) {
      //console.log(latlng)
      this.$store.commit(NODE_SET_LATLNG, {
        nodeId: this.item.node_id,
        latlng: latlng
      })
    },

  },
}
</script>

<style lang="scss" scoped>
.nodes-map {
  height:320px;
  margin-bottom:2px;
}
</style>
