<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Pjodd</title>

    <style>
      #noscript-error {
        margin:20px;
        font-size:18pt;
      }
    </style>
  </head>
  <body>
    <noscript>
      <p id="noscript-error">
        <strong>
          Sorry but this page doesn't work without JavaScript enabled. <br />
          Please enable it to continue.
        </strong>
      </p>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
